version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jesac-web
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./prisma:/app/prisma           # Prisma migrations + SQLite
    restart: unless-stopped
