---
import AboutUs from "../react/about/Abouts";
import ValuesSection from "../react/about/ValuesSection";
---
<section id="about">
  <AboutUs client:load />
  <ValuesSection client:load />  
</section>