---
import { getUserId } from "../../../lib/auth";
import DarkModeToggle from "../react/DarkMode/DarkModeToggle";
import LoginButton from "../react/login/LoginButton";

const userId = getUserId(Astro.cookies);
const isAuthenticated = Boolean(userId);

const navItems = [
  { label: "Inicio", href: "/" },
  { label: "Servicios", href: "/#service" },
  { label: "Galeria", href: "/#gallery" },
  { label: "Nosotros", href: "/#about" },
  { label: "Contacto", href: "/#contact" },
];

const { pathname } = Astro.url;
---

<div class="fixed inset-x-0 top-0 z-50 pointer-events-none flex justify-center">
  <header
    class="relative
      w-full
    max-w-[92%]
    sm:max-w-[90%]
    md:max-w-[98%]
    lg:max-w-[95%]
    xl:max-w-7xl
      mt-2 sm:mt-4 pointer-events-auto
         transition-colors duration-500
         bg-gray-100 dark:bg-slate-800 backdrop-blur-lg rounded-full shadow-md shadow-gray-400 dark:shadow-[#057ec4]/40"
  >
    <div
      class="relative
    mx-auto px-4 md:px-8 py-2
           flex items-center justify-between"
    >
      <!-- Logo -->
      <a
        href="/"
        class="relative text-lg font-semibold tracking-[0.15em]
             uppercase
             transition-all duration-300
             hover:text-(--color-secondary)"
      >
        <img
          src="/images/logo-jesac.png"
          alt="metalurgica-jesac"
          width="100"
          height="100"
        />
      </a>

      <!-- Desktop nav -->
      <nav
        class="hidden md:flex items-center gap-10 text-xs tracking-[0.25em] uppercase"
      >
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class="
          nav-link
          relative transition-all duration-300
          text-(--color-primary) dark:text-(--color-secondary)
          hover:text-(--color-secondary)
          dark:hover:text-(--color-primary)
          group font-bold
        "
            >
              {item.label}

              <span
                class="
            absolute -bottom-1 left-0
            w-0 h-px
            bg-(--color-secondary) dark:bg-(--color-primary)
            transition-all duration-300
            group-hover:w-full
          "
              />
            </a>
          ))
        }

        {
          isAuthenticated && (
            <>
              <a
                href="/dashboard"
                class="font-medium hover:text-(--color-secondary) transition"
              >
                Dashboard
              </a>

              <a
                href="/user"
                class="font-medium hover:text-(--color-secondary) transition"
              >
                Usuario
              </a>
            </>
          )
        }

        <div
          class="flex items-center gap-5 pl-6 border-l border-(--color-primary)/60 dark:border-(--color-secondary)/60"
        >
          <DarkModeToggle client:load />
          <LoginButton client:load isAuthenticated={isAuthenticated} />
        </div>
      </nav>

      <!-- Mobile button -->
      <div class="md:hidden flex">
        <div
          class="flex items-center gap-5 pl-6 border-l border-(--color-primary)/60 dark:border-(--color-secondary)/60"
        >
        </div>
        <div class="flex gap-4">
          <DarkModeToggle client:load />
          <button
            id="menu-btn"
            class="md:hidden px-2 rounded-md
                  text-(--color-primary)/60 dark:text-(--color-secondary)/80
                  hover:text-(--color-secondary)
                  transition-all duration-300 text-2xl border
                  border-(--color-primary)/20 dark:border-(--color-secondary)/80"
            aria-label="Abrir menú"
          >
            ☰
          </button>
        </div>
      </div>
    </div>
    <!-- Mobile menu -->
    <nav
      id="mobile-menu"
      class="md:hidden fixed inset-x-4 top-16 hidden
         px-6 py-6 space-y-4
         rounded-2xl
         backdrop-blur-3xl
         bg-white/90 dark:bg-slate-900/90
         shadow-2xl shadow-black/10 dark:shadow-black/40
         border border-slate-200/60 dark:border-slate-700/60
         transition-all duration-300"
    >
      <a href="/" class="mobile-link">Inicio</a>
      <a href="/#service" class="mobile-link">Servicios</a>
      <a href="/#gallery" class="mobile-link">Galería</a>
      <a href="/#about" class="mobile-link">Nosotros</a>
      <a href="/#contact" class="mobile-link">Contacto</a>

      {
        isAuthenticated && (
          <>
            <a href="/dashboard" class="mobile-link font-medium">
              Dashboard
            </a>
            <a href="/user" class="mobile-link font-medium">
              Usuario
            </a>
          </>
        )
      }

      <div
        class="flex items-center justify-center gap-5 pt-5 border-t border-slate-400 dark:border-slate-500"
      >
        <LoginButton client:load isAuthenticated={isAuthenticated} />
      </div>
    </nav>
  </header>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("menu-btn") as HTMLButtonElement | null;
    const menu = document.getElementById("mobile-menu") as HTMLElement | null;

    if (!btn || !menu) return;

    btn?.addEventListener("click", () => {
      const isOpen = !menu.classList.contains("hidden");

      menu?.classList.toggle("hidden");

      btn.textContent = isOpen ? "☰" : "✕";
    });

    document.querySelectorAll(".nav-link").forEach((link) => {
      link.addEventListener("click", () => {
        document
          .querySelectorAll(".nav-link")
          .forEach((el) => el.classList.remove("nav-active"));

        link.classList.add("nav-active");
      });
    });

    // Cerrar SOLO al hacer click en links
    menu?.querySelectorAll("a").forEach((link) => {
      link.addEventListener("click", () => {
        menu?.classList.add("hidden");
        btn.textContent = "☰";
      });
    });
  });
</script>
