@import "tailwindcss";

/* Activar dark mode por clase */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    /* 🎨 Brand */
    --color-primary: #057EC4;
    --color-secondary: #CCD33B;

    /* 🌞 Light mode */
    --overlay-top: #057EC433;
    --overlay-bottom: #CCD33B33;

    /* Cards */
    --card-border: #057EC433;

    --login-bg: #f3f6f9;
  }

  .dark {
    /* 🌑 Dark mode */
    /* --overlay-top: #000000E6;
    --overlay-bottom: #000000E6; */
    --login-bg: #0b1e2d;
    /* Cards */
    --card-border: #38BDF826;
  }
}


dialog {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 200ms ease, transform 200ms ease;
}

dialog[open] {
  opacity: 1;
  transform: scale(1);
}

dialog.closing {
  opacity: 0;
  transform: scale(0.95);
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoomIn {
  animation: zoomIn 0.35s ease-out;
}

.pond-wrapper {
  transition: transform .25s ease;
}

.pond-wrapper:hover {
  transform: scale(1.04);
}

/* Estado normal */
.filepond--panel-root {
  background-color: #021b55;   /* azul oscuro sólido */
  border: 2.5px dashed #6882a5;
  border-radius: 18px;
  transition: background-color .25s ease;
}

/* Hover: solo fondo */
.filepond--root:hover .filepond--panel-root {
  background-color: #182a47;   /* un tono más claro, notorio */
}

/* Texto */
.filepond--drop-label {
  color: #b8babd;
  transition: transform .25s ease;
}
