---

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" set:html-head />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body>
    <div
      class="min-h-screen flex flex-col items-center justify-center bg-linear-to-br from-gray-50 via-gray-100 to-gray-200 px-"
    >
      <!-- Logo -->
      <div class="">
        <a href="/">
          <img
            src="/images/logo-jesac.png"
            alt="Logo"
            class="w-28 h-28 mx-auto object-contain drop-shadow-lg animate-bounce-slow"
          />
        </a>
      </div>

      <h1
        class="text-8xl font-extrabold text-(--color-secondary) mb-4 tracking-wide animate-fade-in delay-200"
      >
        404
      </h1>

      <p
        class="text-lg font-extrabold md:text-xl text-gray-600 max-w-md text-center animate-fade-in delay-400"
      >
        Lo sentimos, la página que buscas no está disponible o no existe.
      </p>
      <p
        class="text-sm mb-4 text-gray-400 text-center animate-fade-in delay-600"
      >
        Visita nuestro sitio:
        <a
          href="https://www.metalurgicajesac.com"
          class="text-(--color-primary) hover:underline"
          rel="noopener noreferrer"
        >
          www.metalurgicajesac.com
        </a>
      </p>

      <a
        href="/"
        class="inline-block bg-(--color-primary) text-(--color-secondary) font-semibold py-3 px-8 rounded-lg shadow-lg hover:bg-sky-800 hover:shadow-xl transition-all duration-300 animate-fade-in delay-600"
      >
        Volver al inicio
      </a>

      <p
        class="mt-6 text-gray-500 text-sm flex items-center justify-center gap-2 animate-fade-in delay-600"
      >
        Si crees que esto es un error, contáctanos por
        <a
          href="https://wa.me/51957033871"
          target="_blank"
          rel="noopener noreferrer"
          class="text-green-600 hover:text-green-700 flex items-center gap-1 font-semibold"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M20.52 3.48A11.927 11.927 0 0012 .01 11.935 11.935 0 003.48 3.48a11.932 11.932 0 00-3.48 8.52c0 2.06.54 4.08 1.56 5.88L0 24l6.15-1.56a11.912 11.912 0 005.85 1.56h.01c6.61 0 12-5.39 12-12 0-3.21-1.26-6.21-3.48-8.52zm-8.52 16.98c-1.86 0-3.7-.5-5.3-1.44l-.38-.22-3.66.93.97-3.57-.25-.36a9.936 9.936 0 01-1.49-5.22c0-5.52 4.48-10 10-10 2.66 0 5.15 1.04 7.04 2.93A9.938 9.938 0 0120.52 12c0 5.52-4.48 10-10 10zm5.26-7.34c-.28-.14-1.66-.82-1.92-.92-.26-.1-.45-.14-.64.14-.18.28-.7.92-.85 1.11-.16.18-.32.2-.6.07-.28-.14-1.17-.43-2.23-1.38-.82-.73-1.37-1.63-1.53-1.91-.16-.28-.02-.43.12-.57.12-.12.28-.32.42-.48.14-.16.18-.28.28-.46.1-.18.05-.34-.02-.48-.07-.14-.64-1.54-.88-2.12-.23-.55-.46-.48-.64-.49-.16-.01-.34-.01-.52-.01-.18 0-.48.07-.73.34-.26.28-1 1-1 2.44s1.03 2.83 1.17 3.03c.14.18 2.02 3.09 4.89 4.33 2.87 1.25 2.87.83 3.38.78.51-.05 1.66-.68 1.9-1.34.23-.65.23-1.21.16-1.34-.07-.13-.26-.18-.54-.32z"
            ></path>
          </svg>
          WhatsApp
        </a>
      </p>
    </div>
  </body>
</html>

<style>
  @keyframes bounce-slow {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-bounce-slow {
    animation: bounce-slow 2.5s infinite;
  }

  .animate-fade-in {
    opacity: 0;
    animation: fade-in 0.8s forwards;
  }

  .delay-200 {
    animation-delay: 0.2s;
  }
  .delay-400 {
    animation-delay: 0.4s;
  }
  .delay-600 {
    animation-delay: 0.6s;
  }
</style>
