---
import MainLayout from "../layouts/MainLayout.astro";
import ImageContainer from "../components/react/image/ImageContainer";
import { getUserId } from "../../lib/auth";

const userId = getUserId(Astro.cookies);

if (!userId) {
  return Astro.redirect("/?loginRequired=1");
}
---

<MainLayout title="Panel">
  <section
    class="max-w-6xl mx-auto py-28 px-6
      text-slate-900 dark:text-slate-100"
  >
    <header class="mb-10 space-y-2">
      <h1
        class="text-3xl font-semibold tracking-tight
          text-(--color-primary)"
      >
       Imagenes de galeria
      </h1>

      <div class="h-px w-16
          bg-(--color-secondary)/90"></div>
    </header>

    <div
      class="border border-(--card-border)
        bg-(--login-bg)
        p-6"
    >
      <ImageContainer client:load />
    </div>
  </section>
</MainLayout>
