---
import MainLayout from "../layouts/MainLayout.astro";
import { getUserId } from "../../lib/auth";
import ServiceBadgeButtons from "../components/react/service/ServiceBadgeButtons";

const userId = getUserId(Astro.cookies);

if (!userId) {
  return Astro.redirect("/login");
}
---

<MainLayout title="Panel">
  <section
    class="max-w-6xl mx-auto py-28 px-2
      text-slate-900 dark:text-slate-100"
  >
    <header class="mb-10 space-y-2">
      <h1
        class="text-3xl font-semibold tracking-tight
          text-(--color-primary)"
      >
        Panel de servicios
      </h1>

      <div class="h-px w-16
          bg-(--color-secondary)/90"></div>
    </header>

    <div
      class="border border-(--card-border)
        p-2"
    >
      <ServiceBadgeButtons client:load />
    </div>
  </section>
</MainLayout>
